<!-- Any section element inside of this container is displayed as a slide -->
<div class="slides">
    <section>
        <h2>有关行为经济学的热门问题</h2>
        <!-- <img width="30%" src="img/p733985641.webp" alt=""> -->
        <div>
            <img width="30%" src="img/p733985791.webp" alt="">
            <img width="30%" src="img/p2368451994.webp" alt="">
            <img width="30%" src="img/p2541863863.webp" alt="">
        </div>
    </section>

    <section>
        <h1>我是一个 PPT</h1>
    </section>

    <section>
        <h1>我是中文</h1>
    </section>
    
    <section>
        <section>
            <h1>Behavioral Finance</h1>
        </section>
        <section>
            <a href="#" class="image navigate-down">
                <img width="60%" src="img/1.jpg" alt="">
            </a>
        </section>
    </section>

    <section>
        <section>
            <img src="img/a.jpg" alt="">
        </section>
        <section>
            <img src="img/b.png" alt="">
        </section>
    </section>


    <section>
        <img src="img/behavioral-finance-overview-7-638.jpg" alt="">
    </section>

    <section>
        <section>
            <h2>传统经济学</h2>
            <ul>
                <li>宏观、微观</li>
                <li>理性主义</li>
                <li>看不见的手</li>
                <li>有效市场</li>
                <li>信息共享</li>

            </ul>
        </section>
        <section>
            <h2>行为经济学</h2>
            <ul>
                <li>社会学，心理学</li>
                <li>非理性</li>
                <li>情绪</li>
                <li>偏见</li>
                <li>有限信息</li>
            </ul>
        </section>
    </section>

    <section id="fragments">
        <h3>你愿意付出多少成本玩这个游戏？</h3>
        <ul>
            <li>硬币朝上： $15</li>
            <li>硬币朝下： $5</li>
        </ul>

        <p class="fragment">
        期望收益: p = 1/2 * 15 + 1/2 * 5 = $10
        </p>

        <p class="fragment">
            期望效用(Utility): U(G) = 1/2 U(15) + 1/2 U(5)
            
        </p>
        <p class="fragment">
            付出 = $G
        </p>


    </section>
</div>